# 依赖
node_modules/
.pnp
.pnp.js

# 构建产物
dist/
dist-ssr/

# 本地环境
*.local
.env
.env.*
!.env.example

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Vite 配置转译临时文件
vite.config.ts.timestamp-*.mjs
